## File types to be ignored:


*.DS_Store
*.log
*.msh
*.pyc
*.pvd
*.pvtu
*.vtu
*.log
*.patch

## Directories to be ignored:


.eggs/
.idea/
plots/
resources/meshes/
resources/GMT/
utils/.idea/
outdata/


## Files to be ignored:


.README.md.swp

# Old form compilers
utils/forms.py

# Test scripts
wdTest.py
heat_eqn.py
helmholtz.py
advection-diffusion.py
pyadjoint-test-firedrake.py
pyadjoint-test-burgers.py
pyadjoint-test-thetis.py
rossby-test-firedrake.py
firedrake-tsunami.py
thetis-tsunami.py
residual-callback-test.py
shallow-water-test.py
rossby-wave-plots.py
