## File types to be ignored:


*.DS_Store
*.log
*.msh
*.pyc
*.pvd
*.pvtu
*.vtu
*.log


## Directories to be ignored:


.idea/
plots/
resources/meshes/
utils/.idea/


## Files to be ignored:


.README.md.swp

# Attempt at a priori goal based adaptivity
explicitErrorEstimate.py

# Old fixed mesh tsunami script
fixedMesh.py

# Old anisotropic mesh adaptive tsunami script
simpleAdapt.py

# Timings and errors for simulations
outdata/timings.txt
outdata/errors.txt

# Generate timeseries at a later time
generateTimeseries.py
