## File types to be ignored:


*.DS_Store
*.log
*.msh
*.pyc
*.pvd
*.pvtu
*.vtu
*.log
*.patch

## Directories to be ignored:


.eggs/
.idea/
plots/
resources/meshes/
resources/GMT/
resources/channel/
utils/.idea/
outdata/


## Files to be ignored:


.README.md.swp

# Test scripts
paralleltest.py
dt_test.py
channel2d_tracer.py
advection-test.py
